# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
dist/
build/

# Virtual envs
.venv/
venv/
env/
.env/
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/
*.swp

# Local data (não versionar dados brutos/processados)
data/raw/*
data/processed/*
notebooks/data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Power BI
*.pbix

# Sistema
.DS_Store
Thumbs.db
